# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Outputs
*_merged_final.csv

# Environments
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large data files
*.nii
*.nii.gz
*.xlsx
*.xls
*.npy
*.pkl
